.nav {
    background-color: white;
    z-index: 100;
}
.navbar-brand {
    font-family: 'Lato';
    font-size: 40px;
}
.navbar-light .navbar-nav .nav-link {
    font-family: 'Poppins';
    font-size: 16px;
    color: #6156F9;
    
}
.section1 {
    margin-top: 200px;
}
.row {
    align-items: center;
}
.section1-h2,
.section1-h1,
.section2-h3,
.section2-h4,
.left-block1 p,
.section3-h3,
.card-title,
.navbar-light .navbar-brand {
    font-family: 'Poppins';
    color: #42495B;
}
.section1-h2 {
    font-size: 50px;
}
.section1-h1 {
    font-size: 74px;
}
.left-block1 p {
    font-size: 16px;
}
.btn-secondary{
    background-color: #231AAA;
    font-size: 16px;
    font-family: 'Poppins';
}
.section2-h3,
.section3-h3 {
    font-size: 50px;
}
.section2-h4 {
    font-size: 20px;
}
/* section three */
.section3-h4 {
    color: #7E76F9;
    font-size: 20px;
    font-family: 'Lato';
}
.section3-heading {
    margin-top: 126.5px;
}
.card-sz {
    max-width: 366px;
    width: 100%;
    height: 410px;
    border: none;
    border-radius: 36px;
    box-shadow: 0px 10px 20px #EFEEFF;
    margin-top: 98px;
}
.img-sz {
    height: 90px;
}
.card-title {
    font-size: 18px;
}
.card-text {
    max-width: 316px;
    width: 100%;
    height: 123px;
    font-family: 'Lato';
    color: #42495B;
    font-size: 15px;
}
.btn-sz {
    max-width: 94px;
    width: 100%;
    background-color: #1D1685;
    border-radius: 25px;
    font-family: 'Poppins';
    font-size: 12px;
    border: none;
}
.btn-sz:hover {
    background-color: #1E159C;
}

/* footer */
.ftr-wraper {
    margin-top: 100px;
}
.ftr-h4 {
    font-size: 20px;
    font-family: 'Lato';
    color: #7E76F9;
}
.ftr-h3 {
    font-size: 32px;
    font-family: 'Poppins';
    color: #42495B;
}
.input {
    max-width: 430px;
    width: 100%;
    background-color: #F6F7FB;
    border: #707070;
    font-family: 'Poppins';
    font-size: 12;
}
.input-div {
    height: 50px;
    margin-top: 44px;
}

.ftr-button {
    max-width: 172px;
    width: 100%;
    border-radius: 45px;
    background-color: #201997;
    border: none;
    color: white;
    font-family: 'Poppins';
    font-size: 16px;
}